@import "tailwindcss";

@theme {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes scaleUp {
    0% {
      opacity: 0;
      transform: scale(0.9) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes scaleDown {
    0% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(0.9) translateY(20px);
    }
  }

  --animate-fadeIn: fadeIn 0.1s ease-out forwards;
  --animate-fadeOut: fadeOut 0.1s ease-in forwards;
  --animate-scaleUp: scaleUp 0.25s ease-out forwards;
  --animate-scaleDown: scaleDown 0.25s ease-in forwards;
}
